@model Tuple<IEnumerable<JoinTables>, IEnumerable<UserHall>>

@{
    Layout = "~/views/shared/_Adminlayout.cshtml";
}

<head>
  @*  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />*@
    <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet" />

</head>
<h2>Report Page</h2>
<div class="row">
    <div class="col-6">
        <form asp-action="Report" method="post">
            <label for="startDate">Month</label>
            <input type="month" class="form-control" name="startDate" placeholder="Month" />
            <label for="endDate">Year</label>
            <input type="date" class="form-control" name="endDate" placeholder="Year" />
            <br />
            <button type="submit" class="btn btn-danger"> search</button>
        </form>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-11">
        <h2 class="title-1 m-b-25">Users Resirvation Details</h2>
        <div class="table-responsive table--no-card m-b-40">
            <table class="table table-striped" id="example">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Is Approved </th>
                        <th>Hall Name</th>
                        <th>User Name</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Item1)
                    {


                        <tr>
                            <td>@item.userhall.StartDate</td>
                            <td>@item.userhall.EndDate</td>
                            <td>@item.userhall.IsApproved</td>
                            <td>@item.hall.Name</td>
                            <td>@item.user.FirstName</td>
                            <td>@item.category.Name</td>

                        </tr>
                    }
                    <tr>
                        <td>Number of Reservation </td>
                        <td>@ViewBag.name</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>Number of Halls </td>
                        <td>@ViewBag.nmhall</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>Number of Users </td>
                        <td>@ViewBag.users</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                      <tr>
                        <td>total of price </td>
                        <td>@ViewBag.total</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js" defer></script>

<script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js" defer></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                'pdfHtml5'
            ]
        });
    });
</script>
